@charset "utf-8";
@import "style.css?v=20260902";

.boardWrap #list, 
.boardWrap #gallery, 
.boardWrap #zine, 
.boardWrap #write, 
.boardWrap #content, 
.boardWrap #paging span, 
.boardWrap .category ul li.nowCategory {border-color:#BA21E2;}
.boardWrap .category ul li.nowCategory {background-color:#BA21E2;}
.boardWrap #paging span {color:#BA21E2;}
.boardWrap button i {padding:0 9px; background-image:url("/Jsource/img/board/icons_violet.png");}
